html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  font-size: 1rem;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f1ed;
  margin: 1rem;
  display: grid;
  grid-template-areas:
    "banner banner"
    "main main";
    /* "mainleft mainright"; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 1rem;
}

img {
  display: block;
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  /* display: contents; */
  position: relative;
  border: 2px solid red;
  grid-area: banner;
}

h1 {
  z-index: 1;
  border: 2px solid pink;
  position: absolute;
  bottom: 0;
  width: 14rem;
}

h2 {
  color: #30658d;
  font-family: "Patua One", sans-serif;
  margin-top: 1rem;
  margin-bottom: 0;
}

nav {
  position: absolute;
  top: .1em;
  right: 2em;
  font-family: "Patua One";
  font-size: 2rem;
}

nav ul {
  display: flex;
  /* justify-content: space-between; */
  z-index: 1;
  list-style: none;
  border: 2px solid orange;
}

nav li {
  margin-right: 1rem;
  padding-right: 1rem;
}

nav a:link {
  color: #fff;
  /* text-decoration-thickness: .2rem; */
}

main {
  grid-area: main;
  display: flex;
  /* display: grid;
  grid-area: "mainleft mainright";
  grid-template-columns: 1fr 1fr; */
  border: 2px solid lime;
}

figure {
  margin: 0;
}

main figure:first-child {
  border: 2px solid red;
  /* grid-area: mainleft; */
}

main figure:last-child {
  border: 2px solid blue;
  /* grid-area: mainright; */
  margin-left: 1rem;
}

figcaption p {
  margin-top: 0;
}
